@charset "utf-8";
/* CSS Document */

.slide_controll.prev {
			left: 0px;
}
.slide_controll.next {
			right: 0px;
}

.content {
	height: 315px;
}

.services_inner_menu {
	height: 150px;
	margin-top: 40px;
}